<a href="https://colab.research.google.com/github/93Chidiebere/93Chidiebere/blob/main/Basic_ML_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#! pip install pandas==0.25.3
#! pip install numpy==1.16.5
#import numpy as np
#import pandas as pd
#import matplotlib.pyplot as plt
#%matplotlib inline
#import seaborn as sns
#from pandas_profiling import ProfileReport

In [12]:
#to import files from a local drive and load to kernel for use
from google.colab import files

uploaded = files.upload()

Saving Tip.csv to Tip (3).csv

In [13]:
import pandas as pd

import io

In [14]:
tip = pd.read_csv("/content/Tip.csv")

In [15]:
tip.head()

   total_bill     tip  gender smoker   day    time  size
0     2125.50  360.79    Male     No  Thur   Lunch     1
1     2727.18  259.42  Female     No   Sun  Dinner     5
2     1066.02  274.68  Female    Yes  Thur  Dinner     4
3     3493.45  337.90  Female     No   Sun  Dinner     1
4     3470.56  567.89    Male    Yes   Sun   Lunch     6

In [16]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [17]:
tip.shape

(744, 7)

In [18]:
tip.describe

<bound method NDFrame.describe of      total_bill     tip  gender smoker   day    time  size
0       2125.50  360.79    Male     No  Thur   Lunch     1
1       2727.18  259.42  Female     No   Sun  Dinner     5
2       1066.02  274.68  Female    Yes  Thur  Dinner     4
3       3493.45  337.90  Female     No   Sun  Dinner     1
4       3470.56  567.89    Male    Yes   Sun   Lunch     6
..          ...     ...     ...    ...   ...     ...   ...
739     3164.27  645.28    Male     No   Sat  Dinner     3
740     2962.62  218.00  Female    Yes   Sat  Dinner     2
741     2471.03  218.00    Male    Yes   Sat  Dinner     2
742     1942.38  190.75    Male     No   Sat  Dinner     2
743     2047.02  327.00  Female     No  Thur  Dinner     2

[744 rows x 7 columns]>